/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased!important;
    text-rendering: optimizeLegibility!important
}

body.menu-opened {
    overflow: hidden
}

button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none
}

/*::-webkit-scrollbar {
    display: none
}*/

::-moz-selection {
    color: #666;
    background: #f6e49f
}

::selection {
    color: #666;
    background: #f6e49f
}

.svg-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.wp-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word
}

.has-line a:after,a.has-line:after {
    width: 0;
    height: 2px;
    background-color: #fff;
    content: " ";
    display: block;
    -webkit-transition: width .4s,background-color .4s;
    -o-transition: width .4s,background-color .4s;
    transition: width .4s,background-color .4s
}

.not-touch .has-line a:hover,.not-touch a.has-line:hover {
    color: #fd6b6a
}

.not-touch .has-line a:hover:after,.not-touch a.has-line:hover:after {
    width: 100%;
    background-color: #fd6b6a
}

.wiv {
    -webkit-transition: all .6s cubic-bezier(.25,.46,.45,.94);
    -o-transition: all .6s cubic-bezier(.25,.46,.45,.94);
    transition: all .6s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    -o-transition-property: opacity,transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0
}

.wiv.wp-image {
    -webkit-transition-property: opacity,background,-webkit-transform;
    transition-property: opacity,background,-webkit-transform;
    -o-transition-property: opacity,transform,background;
    transition-property: opacity,transform,background;
    transition-property: opacity,transform,background,-webkit-transform
}

.wiv.above-view,.wiv.in-view {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    opacity: 1
}

.body-copy {
    line-height: 1.4
}

.fade-enter,.fade-leave-to {
    opacity: 0
}

.fade-enter-active,.fade-leave-active {
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s
}

.slide-left-leave-to,.slide-right-enter {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%)
}

.slide-left-enter,.slide-right-leave-to {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%)
}

.slide-left-enter-active,.slide-left-leave-active,.slide-right-enter-active,.slide-right-leave-active {
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s
}

.slide-down-leave-to,.slide-up-enter {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%)
}

.slide-down-enter,.slide-up-leave-to {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%)
}

.slide-down-enter-active,.slide-down-leave-active,.slide-up-enter-active,.slide-up-leave-active {
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s
}

.menu-fade-enter,.menu-fade-leave-to {
    opacity: 0;
    border: 0 solid transparent!important
}

.menu-fade-enter-to,.menu-fade-leave {
    opacity: 1;
    border: 20px solid hsla(0,0%,100%,.9)!important
}

.menu-fade-enter-active,.menu-fade-leave-active {
    -webkit-transition: opacity .4s,border .4s;
    -o-transition: opacity .4s,border .4s;
    transition: opacity .4s,border .4s
}

@font-face {
    font-family: "Geomanist";
    src: url(/_nuxt/fonts/geomanist-regular-italic-webfont.a3d6450.woff2) format("woff2"),url(/_nuxt/fonts/geomanist-regular-italic-webfont.eed4082.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "Geomanist";
    src: url(/_nuxt/fonts/geomanist-regular-webfont.260f60c.woff2) format("woff2"),url(/_nuxt/fonts/geomanist-regular-webfont.b749c3d.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Geomanist";
    src: url(/_nuxt/fonts/geomanist-medium-webfont.2e0c587.woff2) format("woff2"),url(/_nuxt/fonts/geomanist-medium-webfont.c994aab.woff) format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Geomanist";
    src: url(/_nuxt/fonts/geomanist-medium-italic-webfont.f7d49c8.woff2) format("woff2"),url(/_nuxt/fonts/geomanist-medium-italic-webfont.c350ed5.woff) format("woff");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: "Freight Disp";
    src: url(/_nuxt/fonts/Freight-Disp.9a9bb91.woff2) format("woff2"),url(/_nuxt/fonts/Freight-Disp.f6862b8.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Freight Disp";
    src: url(/_nuxt/fonts/Freight-Disp-italic.e289b88.woff2) format("woff2"),url(/_nuxt/fonts/Freight-Disp-italic.7ddb3fe.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

.nuxt-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 0;
    opacity: 1;
    -webkit-transition: width .1s,opacity .4s;
    -o-transition: width .1s,opacity .4s;
    transition: width .1s,opacity .4s;
    background-color: #000;
    z-index: 999999
}

.nuxt-progress.nuxt-progress-notransition {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.nuxt-progress-failed {
    background-color: red
}

.wp-seo[data-v-1262c26c] {
    display: none
}

header {
    -webkit-transition: background-color .4s;
    -o-transition: background-color .4s;
    transition: background-color .4s;
    background-color: transparent;
    pointer-events: none;
    position: fixed;
    z-index: 200;
    width: 100%;
    top: 0;
    overflow: hidden
}

@media only screen and (max-width: 750px) {
    header .logo.small {
        padding-left:25px;
        left: 0
    }

    header .hamburger {
        width: auto
    }

    header.mini-header .hamburger {
        padding-right: 25px;
        right: 0
    }
}

.site-header-inner {
    pointer-events: none;
    height: 60px
}

.site-header-inner>* {
    pointer-events: auto
}

.site-header-inner .current-year {
    font-family: "Geomanist",sans-serif;
    font-size: 30px;
    font-weight: 500;
    width: 150px;
    text-align: center;
    position: fixed;
    top: 12px;
    right: 0;
    left: 0;
    margin: auto
}

.site-header-inner .hamburger {
    padding: 20px;
    position: fixed;
    top: 20px;
    right: 30px
}

.site-header-inner .hamburger svg {
    -webkit-transition: -webkit-transform .15s;
    transition: -webkit-transform .15s;
    -o-transition: transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s
}

.site-header-inner .hamburger rect {
    -webkit-transition: width .4s,x .4s,fill .4s;
    -o-transition: width .4s,x .4s,fill .4s;
    transition: width .4s,x .4s,fill .4s
}

.site-header-inner .hamburger .middle {
    -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
            transform-origin: right center;
    -webkit-transition: -webkit-transform .15s;
    transition: -webkit-transform .15s;
    -o-transition: transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s;
    -webkit-transform: scaleX(.8);
        -ms-transform: scaleX(.8);
            transform: scaleX(.8);
    will-change: transform
}

.site-header-inner .hamburger .bottom,.site-header-inner .hamburger .top {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.25,.46,.45,.94);
    transition: -webkit-transform .2s cubic-bezier(.25,.46,.45,.94);
    -o-transition: transform .2s cubic-bezier(.25,.46,.45,.94);
    transition: transform .2s cubic-bezier(.25,.46,.45,.94);
    transition: transform .2s cubic-bezier(.25,.46,.45,.94), -webkit-transform .2s cubic-bezier(.25,.46,.45,.94);
    will-change: transform
}

.site-header-inner .hamburger.activated .top {
    -webkit-transform: translateX(3px) rotate(45deg);
        -ms-transform: translateX(3px) rotate(45deg);
            transform: translateX(3px) rotate(45deg);
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top
}

.site-header-inner .hamburger.activated .bottom {
    -webkit-transform: translateX(3px) rotate(-45deg);
        -ms-transform: translateX(3px) rotate(-45deg);
            transform: translateX(3px) rotate(-45deg);
    -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
            transform-origin: left bottom
}

.site-header-inner .hamburger.activated .middle {
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0)
}

.not-touch .site-header-inner .hamburger:not(.activated):hover .middle {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none
}

.site-header-inner .menu-follow {
    font-family: "Geomanist",sans-serif;
    position: fixed;
    padding: 20px 0;
    right: 90px;
    top: -1px
}

.site-header-inner .menu-follow .menu li {
    margin-left: 20px
}

.site-header-inner.has-back-button .menu-follow {
    right: 140px
}

.site-header-inner .back-link {
    -webkit-transition: opacity .2s,-webkit-transform .15s;
    transition: opacity .2s,-webkit-transform .15s;
    -o-transition: transform .15s,opacity .2s;
    transition: transform .15s,opacity .2s;
    transition: transform .15s,opacity .2s,-webkit-transform .15s;
    position: fixed;
    padding: 20px;
    right: 90px;
    top: 32px
}

.menu-opened .site-header-inner .back-link {
    opacity: 0
}

.not-touch .site-header-inner .back-link:hover {
    -webkit-transform: translateX(-3px);
        -ms-transform: translateX(-3px);
            transform: translateX(-3px)
}

.site-header-inner .back-link svg {
    height: 17px;
    width: 24px
}

.site-header-inner .logo {
    position: fixed;
    padding: 20px;
    top: 20px;
    left: 30px;
    -webkit-transition: -webkit-transform .3s,-webkit-transform-origin .3s;
    transition: -webkit-transform .3s,-webkit-transform-origin .3s;
    -o-transition: transform .3s,transform-origin .3s;
    transition: transform .3s,transform-origin .3s;
    transition: transform .3s,transform-origin .3s,-webkit-transform .3s,-webkit-transform-origin .3s,-ms-transform-origin .3s
}

.site-header-inner .logo.small {
    top: 0;
    left: 10px
}

.site-header-inner button {
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.not-touch .site-header-inner:hover .hamburger rect:nth-child(3) {
    width: 20px;
    x: 0
}

.site-header-inner.mini-header {
    -webkit-transition: opacity .2s,-webkit-transform .5s cubic-bezier(.25,.46,.45,.94);
    transition: opacity .2s,-webkit-transform .5s cubic-bezier(.25,.46,.45,.94);
    -o-transition: transform .5s cubic-bezier(.25,.46,.45,.94),opacity .2s;
    transition: transform .5s cubic-bezier(.25,.46,.45,.94),opacity .2s;
    transition: transform .5s cubic-bezier(.25,.46,.45,.94),opacity .2s,-webkit-transform .5s cubic-bezier(.25,.46,.45,.94);
    border-bottom: 1px solid #a9a9a9;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #fff;
    position: relative;
    opacity: 0
}

.site-header-inner.mini-header .hamburger {
    top: 0;
    padding: 10px;
    right: 15px
}

.site-header-inner.mini-header .hamburger svg {
    -webkit-transform: translateZ(0);
            transform: translateZ(0)
}

.site-header-inner.mini-header .hamburger rect {
    fill: #000
}

.site-header-inner.mini-header .back-link {
    position: absolute;
    right: 70px;
    top: 2px
}

.site-header-inner.mini-header .back-link svg * {
    fill: #000
}

.show-mini .site-header-inner.mini-header {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    opacity: 1
}

.site-header-inner.primary-header {
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s
}

.show-mini .site-header-inner.primary-header {
    display: none;
    opacity: 0
}

.route-contact body:not(.menu-opened) .site-header-inner .hamburger rect,.route-contact body:not(.menu-opened) .site-header-inner .logo svg *,.route-product body:not(.menu-opened) .site-header-inner .hamburger rect,.route-product body:not(.menu-opened) .site-header-inner .logo svg * {
    fill: #000
}

.hamburger rect:nth-child(3),.menu-opened .site-header-inner .hamburger rect:nth-child(3) {
    width: 20px;
    x: 0
}

@media only screen and (max-width: 750px) {
    .site-header-inner.mini-header .back-link {
        right:50px
    }

    .site-header-inner .logo.small {
        left: 0;
        padding-top: 17px
    }

    .site-header-inner .logo.show-year {
        -webkit-transform: scale(.7);
            -ms-transform: scale(.7);
                transform: scale(.7);
        -webkit-transform-origin: center left;
            -ms-transform-origin: center left;
                transform-origin: center left
    }

    .site-header-inner .current-year {
        top: 14px;
        left: auto;
        width: auto;
        right: 60px;
        font-size: 24px
    }

    .site-header-inner .menu-follow {
        display: none
    }
}

.menu-follow {
    font-size: 16px;
    text-align: left
}

.menu-follow .heading {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 10px
}

.menu-follow .menu a {
    color: #fd6b6a;
    text-decoration: none;
    padding: 2px 0;
    display: inline-block
}

.menu-follow.is-inline {
    text-align: right
}

.menu-follow.is-inline .heading,.menu-follow.is-inline .menu,.menu-follow.is-inline .menu li {
    display: inline-block;
    margin: 0
}

.menu-follow.is-inline .menu li {
    margin-left: 20px
}

.hamburger {
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    cursor: pointer;
    padding: 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box
}

.hamburger:focus {
    outline: none
}

.hamburger .default-svg path {
    -webkit-transition: opacity .4s,-webkit-transform .4s;
    transition: opacity .4s,-webkit-transform .4s;
    -o-transition: transform .4s,opacity .4s;
    transition: transform .4s,opacity .4s;
    transition: transform .4s,opacity .4s,-webkit-transform .4s;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center
}

.hamburger.activated .default-svg .top {
    -webkit-transform: translateY(4px) scaleX(0);
        -ms-transform: translateY(4px) scaleX(0);
            transform: translateY(4px) scaleX(0);
    opacity: 0
}

.hamburger.activated .default-svg .middle {
    -webkit-transform: scale(.9) rotate(45deg);
        -ms-transform: scale(.9) rotate(45deg);
            transform: scale(.9) rotate(45deg)
}

.hamburger.activated .default-svg .second-middle {
    -webkit-transform: scale(.9) rotate(-45deg);
        -ms-transform: scale(.9) rotate(-45deg);
            transform: scale(.9) rotate(-45deg)
}

.hamburger.activated .default-svg .bottom {
    -webkit-transform: translateY(-4px) scaleX(0);
        -ms-transform: translateY(-4px) scaleX(0);
            transform: translateY(-4px) scaleX(0);
    opacity: 0
}

main.home {
    position: relative
}

main.home .page-descriptions {
    overflow: hidden;
    position: relative;
    margin: 70vh 0 0;
    padding-bottom: 90px;
    background-color: #fff
}

main.home .page-descriptions .inner {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto
}

main.home .bio-description,main.home .foundation-description,main.home .house-description {
    position: relative;
    z-index: 5
}

main.home .bio-description .entry {
    color: #666
}

@media only screen and (max-width: 1100px) {
    main.home .bio-description {
        padding-right:0;
        padding-left: 0
    }

    main.home .bio-description .learn-more {
        margin-left: 0
    }

    main.home .page-descriptions {
        padding-right: 25px;
        padding-left: 25px
    }

    main.home .foundation-description .flex-container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap
    }

    main.home .foundation-description .flex-container .content-wrapper {
        width: 100%;
        margin: 0
    }
}

@media only screen and (max-width: 750px) {
    main.home .page-descriptions .second-image {
        margin-top:30px
    }

    main.home .page-descriptions .background {
        display: none
    }

    main.home .house-description {
        margin-top: 60px
    }

    main.home .house-description .first-image {
        width: 100%;
        margin: 0
    }

    main.home .house-description .second-image {
        position: static;
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }

    main.home .house-description h4 {
        margin: 30px 0
    }

    main.home .house-description .content,main.home .house-description .learn-more {
        margin: 0
    }

    main.home .foundation-description {
        margin-top: 60px
    }

    main.home .foundation-description .first-image {
        width: 100%;
        margin: 0
    }

    main.home .foundation-description .flex-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0
    }

    main.home .foundation-description .flex-container .second-image {
        width: 100%
    }
}

.hero-slideshow.fh-slideshow {
    background-color: #000;
    position: fixed;
    height: 70vh;
    right: 0;
    left: 0;
    top: 0
}

.hero-slideshow.fh-slideshow .counter {
    position: absolute;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 35px;
    right: 10px;
    color: #fff;
    font-size: 15px;
    font-family: "Geomanist",sans-serif
}

.hero-slideshow.fh-slideshow .counter button {
    padding: 15px
}

.hero-slideshow.fh-slideshow .counter .dash {
    display: inline-block;
    background-color: #fff;
    height: 2px;
    width: 45px;
    margin-bottom: 4px
}

.hero-slideshow.fh-slideshow .counter .arrow-left,.hero-slideshow.fh-slideshow .counter .arrow-right {
    -webkit-transition: -webkit-transform .15s;
    transition: -webkit-transform .15s;
    -o-transition: transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s;
    display: inline-block
}

.not-touch .hero-slideshow.fh-slideshow .counter .arrow-left:hover {
    -webkit-transform: translateX(-3px);
        -ms-transform: translateX(-3px);
            transform: translateX(-3px)
}

.not-touch .hero-slideshow.fh-slideshow .counter .arrow-right:hover {
    -webkit-transform: translateX(3px);
        -ms-transform: translateX(3px);
            transform: translateX(3px)
}

.hero-slideshow.fh-slideshow .fh-slide-next-enter-active,.hero-slideshow.fh-slideshow .fh-slide-next-leave-active,.hero-slideshow.fh-slideshow .fh-slide-prev-enter-active,.hero-slideshow.fh-slideshow .fh-slide-prev-leave-active {
    -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
         -o-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
            transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    -webkit-transition-duration: 1.2s;
         -o-transition-duration: 1.2s;
            transition-duration: 1.2s
}

.hero-slideshow.fh-slideshow .fh-slide-next-enter-active .slide-meta,.hero-slideshow.fh-slideshow .fh-slide-next-leave-active .slide-meta,.hero-slideshow.fh-slideshow .fh-slide-prev-enter-active .slide-meta,.hero-slideshow.fh-slideshow .fh-slide-prev-leave-active .slide-meta {
    -webkit-transition: -webkit-transform 1.2s linear;
    transition: -webkit-transform 1.2s linear;
    -o-transition: transform 1.2s linear;
    transition: transform 1.2s linear;
    transition: transform 1.2s linear, -webkit-transform 1.2s linear
}

.hero-slideshow.fh-slideshow .fh-slide-next-enter .slide-meta,.hero-slideshow.fh-slideshow .fh-slide-next-leave-to .slide-meta {
    -webkit-transform: translate(40%,-50%);
        -ms-transform: translate(40%,-50%);
            transform: translate(40%,-50%)
}

.hero-slideshow.fh-slideshow .fh-slide-prev-enter .slide-meta,.hero-slideshow.fh-slideshow .fh-slide-prev-leave-to .slide-meta {
    -webkit-transform: translate(-40%,-50%);
        -ms-transform: translate(-40%,-50%);
            transform: translate(-40%,-50%)
}

@media only screen and (max-width: 750px) {
    .hero-slideshow .counter {
        bottom:25px;
        right: 10px
    }

    .slide .slide-meta {
        right: 25px;
        left: 25px
    }

    .slide .slide-meta .slide-title {
        font-size: 30px
    }
}

.fh-slideshow {
    position: relative;
    overflow: hidden
}

.fh-slideshow:focus {
    outline: none
}

.fh-slideshow .slide,.fh-slideshow .slide-wrap {
    position: absolute;
    height: 100%;
    width: 100%
}

.fh-slide-next-enter-active,.fh-slide-next-leave-active,.fh-slide-prev-enter-active,.fh-slide-prev-leave-active {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    position: absolute;
    left: 0;
    top: 0
}

.fh-slide-next-enter,.fh-slide-prev-leave-to {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%)
}

.fh-slide-next-leave-to,.fh-slide-prev-enter {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%)
}

.slide {
    background-color: #fff;
    position: relative;
    z-index: 0
}

.slide .image {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.slide .slide-meta {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 54px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff;
    font-family: "Geomanist",sans-serif;
    max-width: 655px;
    z-index: 20
}

.slide .slide-meta .slide-title {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.15
}

.slide .slide-meta .slide-details {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: .5px
}

.slide .slide-meta .slide-details .dash {
    height: 1px;
    background-color: #fff;
    display: inline-block;
    width: 11px;
    margin-bottom: 4px
}

.slide .slide-meta .shop-now {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px
}

.slide .slide-meta .shop-now span {
    position: relative
}

.slide .slide-meta .shop-now span:after {
    -webkit-transition: top .4s;
    -o-transition: top .4s;
    transition: top .4s;
    content: "";
    background-color: #fff;
    position: absolute;
    height: 2px;
    right: 0;
    left: 0;
    top: -7px
}

.slide .slide-meta:hover .shop-now span:after {
    top: calc(100% + 5px)
}

.slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    z-index: 10
}

.wp-image {
    margin: 0;
    width: 100%
}

.wp-image .sizer {
    position: relative;
    z-index: 0
}

.wp-image .background-color {
    opacity: .2;
    z-index: 0
}

.wp-image .background-color,.wp-image .media {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.wp-image .media {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    z-index: 10
}

.wp-image .media-video {
    z-index: 20
}

.wp-image .caption {
    display: none
}

.wp-image.mode-intrinsic-ratio {
    position: relative
}

.wp-image.mode-cover .sizer,.wp-image.mode-fullbleed .sizer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.wp-image:where(.mode-fullbleed,.mode-cover) {
    position: relative
}

.wp-image.object-fit-cover .media {
    -o-object-fit: cover;
       object-fit: cover
}

.wp-image.object-fit-contain .media {
    -o-object-fit: contain;
       object-fit: contain
}

.wp-image.has-loaded .media-image {
    opacity: 1
}

.wp-image.is-playing .media-image {
    opacity: 0
}

.wp-image.is-playing .media-video {
    opacity: 1
}

.wp-image.is-svg .media {
    -o-object-fit: contain;
       object-fit: contain;
    position: relative;
    height: auto;
    width: 100%
}

.wp-image.has-error .media {
    opacity: 1
}

.wp-image.has-error.has-image-error .media-image,.wp-image.has-error.has-video-error .media-video {
    opacity: 0
}

.bio-description {
    position: relative;
    padding: 45px 160px 0 54px;
    color: #000;
    text-align: right;
    font-family: "Geomanist",sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start
}

.bio-description .col {
    -ms-flex-negative: 1;
        flex-shrink: 1
}

.bio-description h4 {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 20px
}

.bio-description .wp-content {
    max-width: 800px;
    margin: 0 0 0 auto;
    font-size: 32px
}

.bio-description .menu-follow {
    margin-right: 40px
}

@media only screen and (max-width: 1100px) {
    .bio-description {
        text-align:left
    }

    .bio-description .menu-follow {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-left: 40px;
        margin-right: 0
    }
}

@media only screen and (max-width: 750px) {
    .bio-description .entry {
        font-size:22px
    }
}

.house-description {
    position: relative;
    margin-top: 75px;
    font-family: "Geomanist",sans-serif
}

.house-description figure.first-image {
    margin-left: 90px;
    width: 32%;
    height: auto
}

.house-description .background {
    position: absolute;
    background: red;
    top: 50px;
    right: -20px;
    bottom: -50px;
    left: 20px;
    z-index: -10
}

.house-description figure.second-image {
    position: absolute;
    left: 130%;
    bottom: 20%;
    width: 120%;
    overflow: visible
}

.house-description h4 {
    margin: 50px 0 20px 90px;
    font-size: 32px;
    font-weight: 500
}

.house-description .content {
    margin: 0 0 0 90px;
    max-width: 410px;
    font-size: 32px;
    color: #666;
    line-height: 1.2
}

.house-description .learn-more {
    margin-left: 90px;
    margin-top: -13px
}

@media only screen and (max-width: 750px) {
    .house-description .content {
        font-size:22px
    }

    .house-description .background {
        top: 20px;
        right: -10px;
        bottom: -20px;
        left: 10px
    }
}

.learn-more {
    position: relative;
    text-decoration: none;
    color: #fd6b6a;
    font-size: 16px;
    font-weight: 500;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 8px 0 3px;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    letter-spacing: .5px
}

.learn-more:after {
    content: " ";
    height: 2px;
    width: 100%;
    background-color: #fd6b6a;
    display: block;
    position: absolute;
    top: 0;
    -webkit-transition: top .4s;
    -o-transition: top .4s;
    transition: top .4s
}

.not-touch .learn-more:hover:after {
    top: 100%
}

.learn-more.right {
    margin: 0 0 0 auto
}

.foundation-description {
    margin: 0
}

.foundation-description figure.first-image {
    position: relative;
    width: 48.5%;
    height: auto;
    margin: 0 auto 0 45%;
    z-index: 1
}

.foundation-description .background {
    position: absolute;
    background: red;
    top: 50px;
    right: -20px;
    bottom: -50px;
    left: 20px;
    z-index: -10
}

.foundation-description .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -70px 90px 0
}

.foundation-description .flex-container figure.second-image {
    width: 40%;
    height: auto
}

.foundation-description .flex-container .content-wrapper {
    width: 50%;
    margin-top: 70px;
    margin-left: 70px;
    font-family: "Geomanist",sans-serif
}

.foundation-description .flex-container .content-wrapper h4 {
    font-size: 32px;
    font-weight: 500;
    margin: 55px 0 30px
}

.foundation-description .flex-container .content-wrapper .content {
    font-size: 32px;
    color: #666;
    line-height: 1.2;
    max-width: 460px
}

@media only screen and (max-width: 750px) {
    .foundation-description .flex-container .content-wrapper .content {
        font-size:22px
    }

    .foundation-description .background {
        top: 20px;
        right: -10px;
        bottom: -20px;
        left: 10px
    }
}

.footer {
    padding: 0 90px 30px;
    font-family: "Geomanist",sans-serif;
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.footer .divider {
    position: absolute;
    top: 0;
    left: 90px;
    right: 90px;
    height: 2px;
    background-color: #222
}

.footer a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #666;
    padding: 5px 0;
    display: block;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s
}

.not-touch .footer a:hover {
    color: #fd6b6a
}

.footer h4 {
    padding: 30px 0 20px;
    margin: 0;
    font-size: 36px;
    font-weight: 500
}

.footer .support-menu {
    margin-right: 110px
}

.footer .social-menu h4 {
    margin-left: -2px
}

.footer .copyright {
    font-size: 14px;
    color: #666;
    position: absolute;
    right: 90px;
    bottom: 30px
}

@media only screen and (max-width: 750px) {
    .footer {
        padding-right:25px;
        padding-left: 25px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center
    }

    .footer .support-menu {
        margin-right: 0
    }

    .footer .copyright {
        margin-top: 30px;
        position: static
    }
}

.site-menu {
    border: 20px solid hsla(0,0%,100%,.9);
    background-color: rgba(0,0,0,.9);
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0
}

.site-menu .main-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    letter-spacing: 0
}

.site-menu .main-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
    font-family: "Geomanist",sans-serif;
    padding: 10px 0;
    display: block;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s
}

.not-touch .site-menu .main-menu a:hover {
    color: #fd6b6a
}

.not-touch .site-menu .main-menu a:hover:after {
    width: 100%;
    background-color: #fd6b6a
}

.site-menu .main-menu a:after {
    width: 0;
    height: 4px;
    background-color: #fff;
    content: " ";
    display: block;
    -webkit-transition: width .4s,background-color .4s;
    -o-transition: width .4s,background-color .4s;
    transition: width .4s,background-color .4s
}

.site-menu .scroll-wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}

.site-menu .scroll-wrap>* {
    width: 100%
}

.site-menu .social-menu {
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font-family: "Geomanist",sans-serif;
    text-align: center;
    font-weight: 400;
    position: fixed;
    width: 100vh;
    right: 60px;
    top: 0
}

.site-menu .social-menu li {
    display: inline-block
}

.site-menu .social-menu li a {
    padding: 0 12px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s
}

.not-touch .site-menu .social-menu li a:hover {
    color: #fd6b6a
}

.site-menu .newsletter {
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: relative
}

.site-menu .newsletter button,.site-menu .newsletter input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0
}

@media only screen and (max-width: 1100px) {
    .site-menu .main-menu a {
        padding-bottom:10px;
        padding-top: 10px;
        font-size: 38px
    }
}

@media only screen and (max-width: 750px) {
    .site-menu {
        border:none;
        background-color: #000
    }

    .site-menu.menu-fade-enter-to {
        border: none!important
    }

    .site-menu .main-menu {
        padding-top: 80px;
        bottom: 0
    }

    .site-menu .main-menu a {
        font-size: 34px;
        padding: 5px 0
    }

    .site-menu .newsletter {
        margin: 30px auto 0;
        display: block;
        height: auto;
        max-width: 400px
    }

    .site-menu .newsletter>* {
        margin: 0 50px
    }

    .site-menu .newsletter .label {
        text-align: center;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        display: block
    }

    .site-menu .newsletter .button,.site-menu .newsletter .email {
        position: static;
        width: auto;
        margin: 10px 50px;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        border-radius: 0
    }

    .site-menu .newsletter .email {
        margin: 20px auto 25px;
        display: block;
        width: 80%;
        text-align: center
    }

    .site-menu .newsletter .button {
        padding-bottom: 10px;
        padding-top: 10px;
        display: block;
        height: auto;
        margin: 0 auto;
        font-size: 14px
    }

    .site-menu .newsletter .button .arrow {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px
    }

    .site-menu .social-menu {
        padding: 25px 15px;
        text-align: center;
        position: static;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        top: auto;
        bottom: 0;
        letter-spacing: .5px;
        margin: 0 auto
    }
}

@media only screen and (max-width: 750px)and (orientation:landscape) {
    .site-menu .main-menu {
        padding-top:80px;
        padding-bottom: 30px
    }

    .site-menu .social-menu {
        padding-top: 30px;
        padding-bottom: 30px
    }
}

.newsletter {
    position: relative;
    width: 100%;
    height: 90px;
    font-family: "Geomanist",sans-serif
}

.newsletter .label {
    font-weight: 500;
    letter-spacing: 0
}

.newsletter span {
    font-size: 36px;
    color: #fff;
    margin: 0 0 0 70px;
    display: inline-block
}

.newsletter .button,.newsletter .email {
    position: absolute;
    top: 0;
    left: 330px;
    width: calc(100% - 580px);
    height: 40px;
    background-color: transparent;
    border-left: 2px solid;
    border-right: 2px solid;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: "Geomanist",sans-serif;
    border-color: #fff;
    border-style: solid none;
    border-width: 2px medium;
    letter-spacing: .75px
}

.newsletter .button:focus,.newsletter .email:focus {
    outline: none
}

.newsletter .button::-webkit-input-placeholder, .newsletter .email::-webkit-input-placeholder {
    color: #fff;
    letter-spacing: 0
}

.newsletter .button::-moz-placeholder, .newsletter .email::-moz-placeholder {
    color: #fff;
    letter-spacing: 0
}

.newsletter .button:-ms-input-placeholder, .newsletter .email:-ms-input-placeholder {
    color: #fff;
    letter-spacing: 0
}

.newsletter .button::-ms-input-placeholder, .newsletter .email::-ms-input-placeholder {
    color: #fff;
    letter-spacing: 0
}

.newsletter .button:-input-placeholder,.newsletter .button::placeholder,.newsletter .email:-input-placeholder,.newsletter .email::placeholder {
    color: #fff;
    letter-spacing: 0
}

.newsletter .email {
    font-family: "Geomanist",sans-serif;
    font-weight: 500
}

.newsletter .button {
    position: absolute;
    font-weight: 500;
    right: 70px;
    left: auto;
    top: 0;
    width: 160px;
    height: 46px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px 0 22px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0
}

.newsletter .button span {
    font-size: 16px;
    margin: 0
}

.newsletter .button .arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s
}

.not-touch .newsletter .button:hover .arrow {
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px)
}